<!doctype html>
<html ng-app="myApp">
	<head>
		<meta lang="EN" charset="UTF-8">
		
		<title>Waitstaff Calculator - Thinkful AngularJS Unit 1 Lesson 3</title>
		
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>

	<div class="wrapper">
		<section class="container">
			<h1>Waitstaff Calculator</h1>
			<article class="box left">
				<div class="heading">
					<h2>Enter the Meal Details</h2>
				</div>
				<div class="inputs">
					<div class="col left">
						Base meal price: $
					</div>
					<div class="col right">
						<input type="number" name="basemeal" ng-model="basemeal">
					</div>
				</div>
				<div class="inputs">
					<div class="col left">
						Tax rate: %
					</div>
					<div class="col right">
						<input type="number" name="basemeal" ng-model="basemeal">
					</div>
				</div>
				<div class="inputs">
					<div class="col left">
						Tip percentage: %
					</div>
					<div class="col right">
						<input type="number" name="basemeal" ng-model="basemeal">
					</div>					
				</div>
				<div class="inputs">
					<div class="col left">
						<input type="submit" value="Submit">
					</div>
					<div class="col right">
						<input type="button" value="Cancel">
					</div>					
				</div>
			</article>
			<article class="box">
				<div class="heading">
					<h2>Customer Charges</h2>
				</div>
				<div class="charges">
					<div class="col left">
						Subtotal: $
					</div>
					<div class="col right">
						Blah
					</div>
				</div>
				<div class="charges">
					<div class="col left">
						Tip: $
					</div>
					<div class="col right">
						Blah
					</div>
				</div>
				<div class="charges">
					<div class="col left">
						Total: $
					</div>
					<div class="col right">
						Blah
					</div>					
				</div>				
			</article>
			<article class="box">
				<div class="heading">
					<h2>My Earnings Info</h2>
				</div>
				<div class="earnings">
					<div class="col left">
						Subtotal: $
					</div>
					<div class="col right">
						Blah
					</div>
				</div>
				<div class="earnings">
					<div class="col left">
						Tip: $
					</div>
					<div class="col right">
						Blah
					</div>
				</div>
				<div class="earnings">
					<div class="col left">
						Total: $
					</div>
					<div class="col right">
						Blah
					</div>					
				</div>				
			</article>
			<div class="reset">
				<input type="button" value="Reset">
			</div>
		</section>
	</div>

	<!-- scripts -->
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/app.js"></script>

	</body>
</html>